<h1>ツイート一覧</h1>

<p><%= notice %></p>

<table>
  <tr>
    <th>内容</th>
  </tr>

<% @mains.each do |main| %>
  <tr>
    <td><%= main.content %></td>
    <td><%= link_to '詳細を確認する', main_path(main.id) %></td>
    <td><%= link_to 'ツイートを編集する', edit_main_path(main.id), data: { confirm: '本当に編集していいですか？' } %></td>
    <td><%= link_to 'ツイートを削除する', main_path(main.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>

<%= link_to '新しくツイートを投稿する', new_main_path %>
