<body id="top" class="medium">
  <div id="wrapper">

  <p><%= notice %></p>

    <% @mains.each do |main| %>
    <div class="main clearfix">
      <nav class="content">
        <ul>
          <li><%= main.content %></li>
          <li class="power"><%= link_to '詳細', main_path(main.id) %></li>
          <li class="power"><%= link_to '編集', edit_main_path(main.id), data: { confirm: '本当に編集していいですか？' } %></li>
          <li class="power"><%= link_to '削除', main_path(main.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></li>
        </ul>
      </nav>
    </div>
    <% end %>
  </div>
</body>
